@media(min-width: 500px){
	.navbar {
		padding: 30px 0;
	}

	.button {
		width: 200px;
	}
}

@media(min-width: 700px){
	.main-page-item-container {
		flex-direction: row;
	}

	.main-page__header {
		font-size: 2em;
	}

	.main-page-item {
		padding: 0 10px;

		&--borders {
		border-left: 2px solid rgba(240, 240, 240, 0.3);
		border-right: 2px solid rgba(240, 240, 240, 0.3)
		}
	}

	.form-page__header {
		margin: 1.2em 0;
	}
}

@media(min-width: 1000px){
	.navbar {
		padding: 40px 0;
	}

	.main-page {
		&__button {
			margin: 50px 0;
		}

		&__header {
			font-size: 3em;
			margin: 2em 0 0.5em 0;
		}
	}

	.main-page-item {
		padding: 0 50px;
	}	

	.navbar__items {
		display: flex;
	}

	.navbar__hamburger {
		display: none;
	}

	.form {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		&__input-container{

			&--name {
				width: 48%;
				align-self: flex-start;
			}

			&--email {
				width: 48%;
				align-self: flex-start;
			}

			&--message {
				align-self: stretch;
			}
		}

		&__button {
			margin: 40px auto;
		}
	}

	.form-page__header {
		margin: 1.5em 0;
		font-size: 2em
	}

	.container--article {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.article__text {
		padding: 0 15%;
	}

	.article__button {
		margin: 30px 0;
	}

	.footer-info {
		padding: 40px 0;
	}
}

@media(min-width: 1300px) {
	.main-page__header {
		font-size: 4em;
	}

	.main-page-item {
		padding: 0 100px;

		&__text-header {
			font-size: 1.4em;
		}
	}

	.main-page__button {
		margin: 100px 0;
	}	
}

@media(min-width: 1700px) {
	.main-page__header {
		font-size: 5em;
		margin: 2em 0 1em 0;
	}

	.main-page-item {
		padding: 0 150px;
	}

	.navbar {
    	padding: 60px 0;	
	}

	.article {
		padding: 80px 0;
		&__text-header {
			font-size: 2.4em;
		}

		&__text-desc {
			font-size: 1.4em;
		}
	}
	
	.container {
		width: 1570px;
	}
}	